.buy {
	display: block;
    position: fixed;
    width: 100%;
    background: #c0564f;
    color: #fff;
    z-index: 1000;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
	top: 0;
}

.buy:hover {
	background-color: #af4f47;
}

  html {
    font-size: 10px;
    line-height: 1.1;
  }
  body {
    font-family: sans-serif;
    text-align: center;
	  padding-top: 30px;
  }

  html,  body {padding:30px 0 0;margin:0px;width:100%;height:100%;}
  html.has-touch .click-msg{display:none;}
  html.has-click .tap-msg{display:none;}

	#top-line, #bottom-line {
		padding: .5em;
		border: 1px solid #999;
		font: inherit;
	}

	#canvas {
		display: block;
		margin: 0px auto;
    float: right;
    width: auto;
    height: auto;
  }
  .text-area-holder{
    padding:0.92em 0.72em;
    box-sizing: border-box;/**/
    /*width: 94%;*/
    /*width: calc(100% - 1% - 1% - 1% - 1%);*/
    right: 1%;
    left: 1%;
    top: 1%;
    bottom:20%;
    position: absolute;
    overflow:hidden;
  }
  #all-line{    
    font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;
    font-size:21px;
    text-transform:uppercase;
    text-align:center; 
    margin:0px auto;
    resize: none;
    min-width:329px;
    min-height: 46px;
    height:100%;
    width:100%;
    float: right;
    display: block;
  }
	#all-line::-webkit-input-placeholder {
		font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;text-transform:none;text-align:left;
	}

	#all-line:-ms-input-placeholder {
		font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;text-transform:none;text-align:left;
	}

	#all-line:-moz-placeholder {
		font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;text-transform:none;text-align:left;
	}

	#all-line::-moz-placeholder {
		font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;text-transform:none;text-align:left;
	}
  .credits{
    padding: 0.3rem 1.2rem 0.6rem;
  }
  .save-button-wrapper{

    width: 100%;
    position:absolute;
    bottom:0px;
  }
  button.save-btn{
    min-height:35px;
    font-size:2.8rem;
    text-transform:uppercase;
    font-size: 3.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 0.75rem 2.5rem;
    display: block;
    margin: 0px auto;
  }
  .credits{
    position:fixed;
    bottom:0px;
    left:0px;
    z-index:9000;
    background-color:#ffffff;
    opacity:0.6;
  }
  .credits p{
    font-size: 1.12rem;
    line-height: 1.05;
    text-align:right;
    margin: 0.23rem auto;
  }
.ui-msg {
display: none;	
}
  .ui-msg p{
    background-color: rgba(60,60,60,0.4);
    border-radius: 50%;
    border-color: transparent;
  }
  .as-tbl{display: table;}
  .as-tcl{display: table-cell;width:100%;height:100%;}
  .as-tcl,.as-tbl{
    text-align:center;
    vertical-align: middle;
  }
  .ui-msg{
    text-decoration:none;
    text-transform: uppercase;
    font-size:1.75rem;
    /*font-family: 'Droid Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;*/
    font-family: Arial, sans-serif;
    background-color: rgba(255,255,255,0.7);
    color:#D8D8D8;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index:9001;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui-msg div{
    border-radius:50%;
    width:175px;
    height:175px;
    position: relative;
  }
  .ui-msg p:after,
  .ui-msg p:before,
  .ui-msg:after,
  .ui-msg:before{
    content: " ";
    display: block;
  }
  .ui-msg:after{
    background-color:#00ff00;
  }
  .ui-msg:before{
    background-color:#00ffff;
  }
  .ui-msg p:after{
    background-color:#99BB33;
  }
  .ui-msg p:before{
    width: 80%;
    height: 80%;
    border: 6px dotted #EFEFEF;
    border-radius: 50%;
    position: absolute;
    top: calc(10% - 6px);
    left: calc(10% - 6px);
  }
  main{position:relative;width:100%;height:100%;overflow:hidden;}
  .textarea-wrapper,
  .canvas-wrapper{
    position:absolute;top:0px;bottom:100px;overflow:hidden;

    -webkit-transition: width 0.5s, height 0.5s, background-color 0.5s, -webkit-transform 0.5s, left 0.5s, right 0.5s;
    transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s, left 0.5s, right 0.5s;
  }
  #canvas{

    -webkit-transition: left 0.5s, right 0.5s;
    transition: left 0.5s, right 0.5s;
}
  .canvas-wrapper{left:33%;right:0px;}
  .textarea-wrapper{left:0%;right:66.6%;max-height:498px;}
  html.input-mode .textarea-wrapper{left:0px;right:50%;}
  html.input-mode .canvas-wrapper{left:50%;right:0px;}
  /*html.input-mode .text-area-holder{margin:0px 0px 0px auto;}*/
  html.input-mode #canvas {
    display: block;
    right: 0px;
    position: absolute;
  }
  @media only screen and (orientation: portrait) and (min-height: 498px){/* 498px + 38px */
    .credits{top:514px;}
    .textarea-wrapper, .canvas-wrapper{bottom:44px;}
    .credits p{float:left;margin-right:3.23rem;}
  }
  @media only screen and (max-width: 750px){
  	html.input-mode #canvas{right:90.5%;}/*subtract the diff 106 - 95%*/
  	#canvas{
  		float:none;
    	position: relative !important;
    	right: 57.5%;/*subtract the diff 67.5% - 59.5% */
    	margin:0px;
	}
  }
  @media only screen and (max-width: 700px){
  	html.input-mode #canvas{right:100.5%;}/*subtract the diff 106 - 95%*/
  	#canvas{
    	right: 63.5%;/*subtract the diff 67.5% - 59.5% */
	}
  }
  @media only screen and (max-width: 650px){
  	html.input-mode #canvas{right: 113.75%;}/*subtract the diff 109% - 118%*/
  	#canvas{
    	right: 72.75%;/*subtract the diff 78% - 67.5% */
	}
  }
  @media only screen and (max-width: 600px){
  	html.input-mode #canvas{right: 128.75%;}/*subtract the diff 135% - 122.5% */
  	#canvas{
    	right: 84%;/*subtract the diff 89.5% - 78.5% */
	}
  }
  @media only screen and (max-width: 550px){
  	html.input-mode #canvas{right: 144.75%;}/*subtract the diff 137.75% - 153.75% */
  	#canvas{
    	right: 90.25%;/*subtract the diff 78.5% - 102% */
	}
  }
  @media only screen and (max-width: 500px){
  	html.input-mode #canvas{right: 163.75%;}/*subtract the diff 137.75% - 153.75% */
  	#canvas{
    	right: 108.25%;/*subtract the diff 78.5% - 102% */
	}
  }
  @media only screen and (max-width: 450px){
  	html.input-mode #canvas{right: 190.75%;}/*subtract the diff 137.75% - 153.75% */
  	#canvas{
    	right: 132.75%;/*subtract the diff 78.5% - 102% */
	}
  }
  @media only screen and (max-width: 400px){
  	html.input-mode #canvas{right: 221.75%;}/*subtract the diff 137.75% - 153.75% */
  	#canvas{
    	right: 152.75%;/*subtract the diff 78.5% - 102% */
	}
  }
  @media only screen and (max-width: 350px){
  	html.input-mode #canvas{right: 269.75%;}/*subtract the diff 137.75% - 153.75% */
  	#canvas{
    	right: 185.75%;/*subtract the diff 78.5% - 102% */
	}
  }
  @media only screen and (max-width: 300px){
  	html.input-mode #canvas{right: 330.75%;}/*subtract the diff 137.75% - 153.75% */
  	#canvas{
    	right: 230.75%;/*subtract the diff 78.5% - 102% */
	}
  }
  @media only screen and (max-width: 250px){
  	html.input-mode #canvas{right: 296.75%;}/*subtract the diff 137.75% - 153.75% */
  	#canvas{
    	right: 204.75%;/*subtract the diff 78.5% - 102% */
	}
  }
